{{ template "header" . }}
<main>

    <!-- modal tambah penduduk -->
    <div class="modal fade" id="modal_tambah" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white" id="exampleModalLabel">Modal Tambah Penduduk</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nik" class="form-label">NIK</label>
                        <input type="number" class="form-control" id="nik" name="nik" required>
                    </div>
                    <div class="mb-3">
                        <label for="nama" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama" required>
                    </div>
                    <div class="mb-3">
                        <label for="tmpt_lahir" class="form-label">Tempat Lahir</label>
                        <input type="text" class="form-control" id="tmpt_lahir" name="tmpt_lahir" required>
                    </div>
                    <div class="mb-3">
                        <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                        <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" required>
                    </div>  
                    <div class="mb-3">
                        <select class="jenis_kelamin select2" name="gender" style="width:100%;">
                            <option value="L">Laki - Laki</option>
                            <option value="P">Perempuan</option>
                        </select>
                    </div>                    
                    <div class="mb-3">
                        <label for="alamat" class="form-label">Alamat</label>
                        <input type="text" class="form-control" id="alamat" name="alamat" required>
                    </div>
                    <div class="mb-3">
                        <label for="rt" class="form-label">RT</label>
                        <input type="text" class="form-control" id="rt" name="rt" required>
                    </div>
                    <div class="mb-3">
                        <label for="rw" class="form-label">RW</label>
                        <input type="text" class="form-control" id="rw" name="rw" required>
                    </div>
                    <div class="mb-3">
                        <label for="agama" class="form-label">Agama</label>
                        <input type="text" class="form-control" id="agama" name="agama" required>
                    </div>
                    <div class="mb-3">
                        <label for="status_kawin" class="form-label">Status Perkawinan</label>
                        <input type="text" class="form-control" id="status_kawin" name="status_kawin" required>
                    </div>
                    <div class="mb-3">
                        <label for="pekerjaan" class="form-label">Pekerjaan</label>
                        <input type="text" class="form-control" id="pekerjaan" name="pekerjaan" required>
                    </div>
                    <div class="mb-3">
                        <label for="kewarganegaraan" class="form-label">Kewarganegaraan</label>
                        <input type="text" class="form-control" id="kewarganegaraan" name="kewarganegaraan" required>
                    </div>
                    <div class="mb-3">
                        <label for="berlaku_hingga" class="form-label">Berlaku Hingga</label>
                        <input type="text" class="form-control" id="berlaku_hingga" name="berlaku_hingga" required>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="button" class="btn btn-success">Simpan</button>
                    </div>
            </form>
          </div>
        </div>
    </div>
    <!-- modal tambah penduduk -->

    <!-- modal edit penduduk -->
    <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-info">
              <h5 class="modal-title" id="exampleModalLabel">Modal Edit Penduduk</h5>

            </div>
            <div class="modal-body">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sint vel quibusdam architecto possimus autem quasi, optio animi quod eum.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="button" class="btn btn-success">Simpan</button>
            </div>
          </div>
        </div>
    </div>
    <!-- modal edit penduduk -->
    <div class="container-fluid px-4 mt-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark rounded p-3">
                <li class="breadcrumb-item active text-white" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active text-white" aria-current="page">Penduduk</li>
            </ol>
        </nav>
        
        <div class="border rounded p-3">
            <div class="table-penduduk">
                <button class="btn btn-primary" id="tambah_data" style="float: right;"><i class="fas fa-plus"></i></button>

                <table id="penduduk_table" class="display table-responsive table-bordered" style="width:100%">
                    <thead style="background-color: #212529; color: white;">
                        <tr>
                            <th>Nama</th>
                            <th>Usia</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <!-- Add your table content here -->
                </table>
            </div>
        </div>
        
        
    </div>

</main>
<!-- Modal -->

<!-- Footer -->
{{ template "footer" . }}
<!-- Footer -->


<script type="text/javascript">
    $(function () {
        table_penduduk();
        JenisKelamin();
    });


    function table_penduduk() {
        $('#penduduk_table').DataTable({
            ajax: '/penduduk/data',
            processing: true,
            serverSide: true,
            searching: true,
            columns: [
                { data: 'nama', className: 'text-center' },
                { data: 'usia', className: 'text-center' },
                { 
                    data: 'aksi',
                    className: 'text-center',
                    width: '10%',
                    render: function(data, type, row, meta){
                        return '<button class="btn btn-warning btn-xs " id="edit_data"><i class="fas fa-pencil"></i></button>';
                    }
                },
            ],
            responsive: true,
        });
    }




    function JenisKelamin() {
        $.ajax({
            url: "",
            dataType: "json",
            type: "GET",
            success: function (res) {
                $('select.jenis_kelamin').empty().select2({
                    placeholder: "-- Pilih Jenis Kelamin --",
                    data: $.map(res, function (item) {
                        return {
                            // 
                        };
                    })
                }).off('select2:select').on('select2:select', function (e) {
                    
                }).off('select2:unselect').on('select2:unselect', function () {
                    
                }).val(null).trigger('change');
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText); 
            }
        });

    }


    var tambah_penduduk = function () {
        $('div#modal_tambah').modal('show');
    };
    
    $(document).on('click', '#tambah_data', function(){
        tambah_penduduk();
    });

    var edit_penduduk = function () {
        $('div#modal_edit').modal('show');
    };

    $(document).on('click', '#edit_data', function(){
        edit_penduduk();
    });

















</script>