{{ template "header" . }}
    <body class="sb-nav-fixed">
        <!-- Navbar -->
        {{ template "navbar" }}
         <!-- Navbar -->
        <div id="layoutSidenav">
            <!-- Sidenav -->
            {{ template "sidenav" }}
            <!-- Sidenav -->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Penduduk</h1>
                        <table id="penduduk_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Usia</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "footer" . }}
                <!-- Footer -->
            </div>
        </div>
        {{ template "script" }}
        <script type="text/javascript">
        $(function () {
                table_penduduk();
            });

            function table_penduduk() {
                $('#penduduk_table').DataTable({
                    ajax: '/penduduk/data',
                    processing:true,
                    serverSide: true,
                    columns: [
                        { data: 'nama', className: 'text-center' },
                        { data: 'usia', className: 'text-center' },
                    ],
                    responsive: true,
                });
            }
        </script>
    </body>
</html>