{{ template "header" . }}
<main>

    <!-- modal tambah penduduk -->
    <!-- Modal -->
    <div class="modal fade" id="insertModal" role="dialog" tabindex="-1"
        aria-labelledby="insertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="insertModalLabel">Modal
                        title</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formInsert">
                        <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="Username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="Email" name="email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button id="button" type="submit" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal tambah penduduk -->

    <!-- modal edit penduduk -->
    <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Edit
                        Penduduk</h5>

                </div>
                <div class="modal-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Facere sint vel quibusdam architecto possimus autem
                        quasi, optio animi quod eum.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Tutup</button>
                    <button type="button"
                        class="btn btn-success">Simpan</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal edit penduduk -->
    <div class="container-fluid px-4 mt-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark rounded p-3">
                <li class="breadcrumb-item active text-white"
                    aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active text-white"
                    aria-current="page">Penduduk</li>
            </ol>
        </nav>

        <div class="border rounded p-3">
            <button class="btn btn-primary" id="tambah_data"
                style="float: right;" data-bs-toggle="modal"
                data-bs-target="#insertModal"><i
                    class="fas fa-plus"></i></button>

            <table id="user-table"
                class="display table-responsive table-bordered"
                style="width:100%">
                <thead style="background-color: #212529; color: white;">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="item-list">
                </tbody>
                <!-- Add your table content here -->
            </table>
        </div>

    </div>

</main>
<!-- Modal -->

<!-- Footer -->
{{ template "footer" . }}
<!-- Footer -->

<script type="text/javascript">
    var csrfToken = document.querySelector('input[name="_csrf"]').value;

    const itemTable = $('#user-table').DataTable({
        ajax: 'user/data',
        processing: true,
        serverSide: true,
        searching: true, // Enable search feature
        responsive: true,
        columns: [
            { data: 'ID', className: 'text-center' },
            { data: 'Username', className: 'text-center' },
            { data: 'Email', className: 'text-center' },
            { 
                data: 'aksi',
                className: 'text-center',
                width: '10%',
                render: function(data, type, row, meta){
                    return `
                    <div class="row">
                        <div class="col-auto mb-1">
                            <button class="btn btn-warning btn-xs " id="edit_data"><i class="fas fa-pencil"></i></button>
                        </div>

                        <div class="col-auto mb-1">
                            <button class="btn btn-danger btn-xs " id="delete_data" onclick="deleteData(${row.ID})"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>`;
                }
            },
        ],
    });
   document.addEventListener('DOMContentLoaded', function() {

        
        document.getElementById('formInsert').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(event.target);
            var json = JSON.stringify(Object.fromEntries(formData));
            fetch('/user/insert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': formData.get('_csrf')
                },
                body: json
            }).then(response => {
                return response.json().then(data => {
                    return { status: response.status, body: data };
                });
            }).then(data => {
                if (data.status < 300) {
                    itemTable.ajax.reload();
                    $('#insertModal').modal('hide');
                    document.getElementById('formInsert').reset();
                    Swal.fire({
                        title: "Success",
                        text: data.body.message,
                        icon: "success"
                    });
                }else{
                    Swal.fire({
                        title: "Error",
                        text: data.body.message,
                        icon: "error"
                    });
                }
            }).catch(error => {
                Swal.fire({
                    title: "Something went wrong",
                    text: error.message,
                    icon: "error"
                });
            });
        });

       


        // Reload the table data every 30 seconds
        setInterval(() => {
            itemTable.ajax.reload(null, false); // false to keep the current page
        }, 600000); // 30 seconds

    });

    function deleteData(id){
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/user/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-Token': csrfToken
                    }
                }).then(response => {
                    return response.json().then(data => {
                        return { status: response.status, body: data };
                    });
                }).then(data => {
                    if (data.status < 300) {
                        itemTable.ajax.reload();
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: data.body.message,
                            icon: "success"
                        });
                    }else{
                        swalWithBootstrapButtons.fire({
                            title: "Deleted Failed!",
                            text: data.body.message,
                            icon: "error"
                        });
                    }
                    
                }).catch(error => {
                    console.log(error);
                    // var statusMessageDiv = document.getElementById('statusMessage');
                    // statusMessageDiv.innerText = `Error: ${error}`;
                });
                
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    icon: "error"
                });
            }
        });
    }

</script>