{{define "insertClient"}}
<div
  class="modal fade"
  id="insertClient"
  tabindex="-2"
  role="dialog"
  aria-labelledby="insertClientLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insert Client</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-target="#clientTable"
          data-bs-toggle="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formInsertClient">
          
          <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
          <div class="form-floating-sm mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Name" name="name" />
          </div>
          <div class="form-floating-sm mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="Email" name="email" />
          </div>
          <div class="form-floating-sm mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Password" name="password" />
          </div>
          <div class="form-floating-sm mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Password Confirmation" name="password_confirmation" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="submitClientButton"
          class="btn btn-primary"
          data-bs-target="#clientTable">
          Submit
        </button>
        <button
          class="btn btn-danger"
          data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{{end}}
