{{define "vesselTable" }}
{{template "insertVessel" .}}
<div class="modal fade" id="vesselTable" tabindex="-1" role="dialog" aria-labelledby="vesselTableLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Table Vessel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="border rounded p-3">
                    <button class="btn btn-primary mb-2" id="tambah_data"
                        style="float: right;" data-bs-toggle="modal"
                        data-bs-target="#insertVessel">Tambah Data +</button>

                    <table id="vessel-table"
                        class="display table-responsive table-bordered"
                        style="width:100%">
                        <thead style="background-color: #212529; color: white;">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>File</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <!-- Add your table content here -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}