{{define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ .title }}</title>
        <link href="/public/sbadmin/css/styles.css" rel="stylesheet" />
        <script src="/public/sbadmin/icons/fontawsome.js" crossorigin="anonymous"></script>
        <link   href="/public/libs/datatable/datatables.min.css" rel="stylesheet">
        <link   href="/public/libs/swalfire/sweetalert2.min.css" rel="stylesheet">
    </head>
<body class="sb-nav-fixed">
<!-- Navbar -->
{{ template "navbar" }}
<!-- Navbar -->
<div id="layoutSidenav">
    <!-- Sidenav -->
    {{ template "sidenav" }}
    <!-- Sidenav -->

    <div id="layoutSidenav_content">
{{end}}
