{{ define "script" }}
<script src="/public/sbadmin/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/public/sbadmin/js/jquery-3.7.1.min.js"></script>
<script src="/public/libs/datatable/datatables.min.js"></script>
<script src="/public/libs/swalfire/sweetalert2.all.min.js"></script>
<script src="/public/libs/custom.js"></script>
<script src="/public/libs/select2/dist/js/select2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

<script>
    function getBaseURL() {
        // Get the full URL
        const fullURL = window.location.href;
        // Get the protocol and hostname
        const protocol = window.location.protocol;
        const host = window.location.host;
        // Combine them to get the base URL
        const baseURL = `${protocol}//${host}/`;
        return baseURL;
    }
        
    let map;
    const kmzLayers = [];
    
    let markers = {}; // Store markers for each device
    const initialZoom = 16; // Initial zoom level

    function initMap() {
        const balikpapan = { lat: -1.2692, lng: 116.8253 }; // Balikpapan, Indonesia
        // const balikpapan = { lat: -1.048336054, lng: 117.3793261225 }; // Balikpapan, Indonesia
        map = new google.maps.Map(document.getElementById('map'), {
            center: balikpapan,
            zoom: initialZoom
        });
        
        // marker = new google.maps.Marker({
        //   position: balikpapan,
        //   map: map,
        //   icon: {
        //     url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        //     scaledSize: calculateMarkerSize(map.getZoom()),
        //   },
        // });

        map.addListener('zoom_changed', function() {
            updateMarkerSizes(map.getZoom());
        });
      

      

        fetchKMZFiles();
        initWebSocket();
    }

    function calculateMarkerSize(zoom) {
        const metersPerPixel = 156543.03392 * Math.cos(0) / Math.pow(2, zoom); // Using 0 as the latitude for simplicity
        const sizeInMeters = 3; // Desired size in meters (1 km)
        const sizeInPixels = sizeInMeters / metersPerPixel;
        console.log(sizeInPixels * 2.4);
        return new google.maps.Size(sizeInPixels, sizeInPixels * 2.5);
    }

    const websocketUrl = `ws://localhost:8080/ws/kapal`;

    function connectWebSocket() {
        websocket = new WebSocket(websocketUrl);

        websocket.onopen = function() {
            console.log('WebSocket connection established.');
        };

        websocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            for (const device in data) {
                if (data.hasOwnProperty(device)) {
                    const gga = data[device].gga;
                    const parsedData = parseGGA(gga);
                    updateMarkerPosition(device, parsedData.latitude, parsedData.longitude);
                }
            }
        };

        websocket.onclose = function(event) {
            console.log('WebSocket connection closed. Reconnecting...');
            setTimeout(connectWebSocket, reconnectInterval);
        };

        websocket.onerror = function(error) {
            console.log('WebSocket error: ', error);
            websocket.close();
        };
    }

    // Parse NMEA GGA sentence
    function parseGGA(gga) {
        const fields = gga.split(',');
        const latitudeDMS = parseFloat(fields[2]);
        const latitudeDirection = fields[3];
        const longitudeDMS = parseFloat(fields[4]);
        const longitudeDirection = fields[5];

        const latitude = convertDMSToDecimal(latitudeDMS, latitudeDirection);
        const longitude = convertDMSToDecimal(longitudeDMS, longitudeDirection);

        // console.log('Latitude:', latitude, 'Longitude:', longitude);
        return { latitude, longitude };
    }

    function convertDMSToDecimal(degrees, direction) {
        // Extract degrees, minutes, and seconds
        const d = Math.floor(degrees / 100);
        const m = degrees % 100;
        const s = (degrees - (d * 100) - m) * 60;

        // Convert to decimal degrees
        let decimalDegrees = d + (m / 60) + (s / 3600);

        // Adjust for negative direction
        if (direction === 'S' || direction === 'W') {
            decimalDegrees = -decimalDegrees;
        }

        return decimalDegrees;
    }

    // Update marker position or create new marker
    function updateMarkerPosition(device, latitude, longitude) {
        const customMarkerIcon = {
            url: 'https://binav-avts.id/assets/assets/ship.png', // Replace with your custom marker image URL
            scaledSize: calculateMarkerSize(map.getZoom()),
        };

        if (!markers.hasOwnProperty(device)) {
            markers[device] = new google.maps.Marker({
                position: { lat: -1.2692, lng: 116.8253 },
                map: map,
                title: device,
                icon: customMarkerIcon,
            });
        } else {
            markers[device].setPosition({ lat: -1.2692, lng: 116.8253 });
            markers[device].setIcon(customMarkerIcon); // Update marker icon
        }
    }

    // Update marker sizes based on zoom level
    function updateMarkerSizes(zoom) {
        for (const device in markers) {
            if (markers.hasOwnProperty(device)) {
                const marker = markers[device];
                marker.setIcon({
                    url: "https://binav-avts.id/assets/assets/ship.png",
                    scaledSize: calculateMarkerSize(zoom),
                });
            }
        }
    }

    // Start WebSocket connection and map initialization
    connectWebSocket();
    initMap();
    // url: 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
    function fetchKMZFiles() {
        fetch('/mappings')
            .then(response => response.json())
            .then(data => {
                data.forEach(mapping => {
                    if (mapping.status) {
                        loadKMZLayer(mapping.File);
                    }
                });
            })
            .catch(error => console.error('Error fetching mappings:', error));
    }

    function loadKMZLayer(filePath) {
        const kmzUrl = `${getBaseURL()}public/${filePath}`;
        // const kmzUrl = `https://a4d6-140-213-164-88.ngrok-free.app/public/testMWPA.kmz`;
        const kmzLayer = new google.maps.KmlLayer({
            url: kmzUrl,
            map: map,
            preserveViewport: true  // Prevent the map from zooming to fit the KML/KMZ
        });
        kmzLayer.addListener('status_changed', function() {
            if (kmzLayer.getStatus() !== 'OK') {
                console.error('Error loading KMZ layer:', kmzLayer.getStatus());
            }
        });
        
        kmzLayers.push(kmzLayer);
    }

    // function initWebSocket() {
    //     const socket = new WebSocket('ws://localhost:8080/ws/kapal');

    //     socket.onmessage = function(event) {
    //         const data = JSON.parse(event.data);
    //     };

    //     socket.onopen = function() {
    //         console.log('WebSocket connection established');
    //     };

    //     socket.onclose = function() {
    //         console.log('WebSocket connection closed');
    //     };

    //     socket.onerror = function(error) {
    //         console.error('WebSocket error:', error);
    //     };
    // }

    // function handleWebSocketData(data) {
    //     Object.keys(data).forEach(key => {
    //         const { gga } = data[key];

    //         if (gga !== "Error connecting") {
    //             const coordinates = parseGGA(gga);
                
    //             if (coordinates) {
    //                 updateMarker(key, coordinates);
    //             }
    //         }
    //     });
    // }

    // function parseGGA(ggaString) {
    //     // Assuming GGA string contains latitude and longitude in a certain format
    //     // Replace this with actual parsing logic for your GGA data format
    //     // Example of a simple parser for "lat,lng" format
    //     try {
    //         const parts = ggaString.split(',');
    //         const lat = parseFloat(parts[0]);
    //         const lng = parseFloat(parts[1]);

    //         if (!isNaN(lat) && !isNaN(lng)) {
    //             return { lat, lng };
    //         }
    //     } catch (error) {
    //         console.error('Error parsing GGA string:', error);
    //     }
    //     return null;
    // }

    // function updateMarker(id, { lat, lng }) {
    //     if (!markers[id]) {
    //         const marker = new google.maps.Marker({
    //             position: { lat, lng },
    //             map: map,
    //             icon: 'https://binav-avts.id/assets/assets/ship.png' // Custom marker image
    //         });
    //         markers[id] = marker;
    //     } else {
    //         markers[id].setPosition(new google.maps.LatLng(lat, lng));
    //     }
    // }

    const itemTable = $('#mapping-table').DataTable({
        ajax: '/mapping/data',
        processing: true,
        serverSide: true,
        searching: true, // Enable search feature
        responsive: true,
        columnDefs: [
            { "orderable": true, "targets": 0 },  // Enable sorting on the first column (First Name)
            { "orderable": false, "targets": '_all' }  // Disable sorting on all other columns
        ],
        columns: [
            { data: 'id_mapping', className: 'text-center' },
            { data: 'user.name', className: 'text-center' },
            { data: 'name', className: 'text-center' },
            { data: 'file', className: 'text-center' },
            { data: 'status', className: 'text-center' },
            { 
                data: 'aksi',
                className: 'text-center',
                width: '10%',
                render: function(data, type, row, meta){
                    return `
                    <div class="row">
                        <div class="col-auto mb-1">
                            <button class="btn btn-warning btn-xs " id="edit_data" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="updateForm(${row.ID})"><i class="fas fa-pencil"></i></button>
                        </div>

                        <div class="col-auto mb-1">
                            <button class="btn btn-danger btn-xs " id="delete_data" onclick="deleteData(${row.ID})"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>`;
                }
            },
        ],
    });
    
    document.addEventListener('DOMContentLoaded', function() {
    // Reload the table data every 60 seconds
        setInterval(() => {
            itemTable.ajax.reload(null, false); // false to keep the current page
        }, 60000); // 60 seconds

    });
    
</script>
{{ end }}