{{ define "script" }}
<script src="/public/sbadmin/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/public/sbadmin/js/jquery-3.7.1.min.js"></script>
<script src="/public/libs/datatable/datatables.min.js"></script>
<script src="/public/libs/swalfire/sweetalert2.all.min.js"></script>
<script src="/public/libs/custom.js"></script>
<script src="/public/libs/select2/dist/js/select2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script src="/public/scripts/table_reader.js"></script>
<script src="/public/scripts/auto_complete.js"></script>
<script src="/public/scripts/websocket.js"></script>

<script>
    function getBaseURL() {
        // Get the full URL
        const fullURL = window.location.href;
        // Get the protocol and hostname
        const protocol = window.location.protocol;
        const host = window.location.host;
        // Combine them to get the base URL
        const baseURL = `${protocol}//${host}/`;
        return baseURL;
    }
        
    let map;
    const kmzLayers = [];
    
    const initialZoom = 16; // Initial zoom level



    function initMap() {
        const balikpapan = { lat: -1.2692, lng: 116.8253 }; // Balikpapan, Indonesia
        // const balikpapan = { lat: -1.048336054, lng: 117.3793261225 }; // Balikpapan, Indonesia
        map = new google.maps.Map(document.getElementById('map'), {
            center: balikpapan,
            zoom: initialZoom,
            disableDefaultUI: true,
            zoomControl: true,
            scaleControl: true,
        
        });

        map.addListener('zoom_changed', function() {
            updateMarkerSizes(map.getZoom());
        });

        fetchKMZFiles();
        connectWebSocket();
    }

    function calculateMarkerSize(zoom) {
        const metersPerPixel = 156543.03392 * Math.cos(0) / Math.pow(2, zoom); // Using 0 as the latitude for simplicity
        const sizeInMeters = 3; // Desired size in meters (1 km)
        const sizeInPixels = sizeInMeters / metersPerPixel;
        console.log(sizeInPixels * 2.4);
        return new google.maps.Size(sizeInPixels, sizeInPixels * 2.5);
    }

    // url: 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
    function fetchKMZFiles() {
        fetch('/mappings')
            .then(response => response.json())
            .then(data => {
                data.forEach(mapping => {
                    if (mapping.status) {
                        loadKMZLayer(mapping.File);
                    }
                });
            })
            .catch(error => console.error('Error fetching mappings:', error));
    }

    function loadKMZLayer(filePath) {
        const kmzUrl = `${getBaseURL()}public/${filePath}`;
        // const kmzUrl = `https://a4d6-140-213-164-88.ngrok-free.app/public/testMWPA.kmz`;
        const kmzLayer = new google.maps.KmlLayer({
            url: kmzUrl,
            map: map,
            preserveViewport: true  // Prevent the map from zooming to fit the KML/KMZ
        });
        kmzLayer.addListener('status_changed', function() {
            if (kmzLayer.getStatus() !== 'OK') {
                console.error('Error loading KMZ layer:', kmzLayer.getStatus());
            }
        });
        
        kmzLayers.push(kmzLayer);
    }    

    document.getElementById("hideButton").addEventListener("click", function() {
        var container = document.getElementById("myContainer");
  if (container.style.display === "none") {
    container.style.display = "block";
  } else {
    container.style.display = "none";
  }
});

</script>
{{ end }}