{{define "vessel-detail.sidebar" }}

<style>
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .sidebar-header h4 {
    margin: 0 0 0 10px;
  }
  
  #sidebar-close {
    padding: 5px 10px;
    font-size: 14px;
  }
  #lock-camera-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  </style>
<div id="detail-vessel" style="display: none">
  <div id="resizer">
  </div>
  <div id="sidebar-container">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <button id="sidebar-close" class="btn btn-sm btn-outline-secondary">
          <i class="fas fa-arrow-left"></i>
        </button>
        <h4>Detail Vessel</h4>
      </div>

      <!-- Add the Lock Camera button here -->
      <button id="lock-camera-btn" class="btn btn-primary">
        <i class="fas fa-lock"></i> Lock Camera
      </button>

      <div class="vessel-info">
        <h5>General Information</h5>
        <img id="vessel-image" class="vessel-image" src alt="Vessel Image" />
        <div class="table-container">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Call Sign</td>
                <td id="call_sign_general">-</td>
              </tr>
              <tr>
                <td>Flag</td>
                <td id="flag_general">-</td>
              </tr>
              <tr>
                <td>Class</td>
                <td id="kelas_general">-</td>
              </tr>
              <tr>
                <td>Builder</td>
                <td id="builder_general">-</td>
              </tr>
              <tr>
                <td>Year Built</td>
                <td id="year_built_general">-</td>
              </tr>

              <tr>
                <td>Wide</td>
                <td id="width_m">-</td>
              </tr>
              <tr>
                <td>Length</td>
                <td id="height_m">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="vessel-info">
        <h5>Current Status</h5>
        <div class="table-container">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Status</td>
                <td id="status_telnet_current">-</td>
              </tr>
              <tr>
                <td>Latitude</td>
                <td id="latitude_current">-</td>
              </tr>
              <tr>
                <td>Longitude</td>
                <td id="longitude_current">-</td>
              </tr>
              <tr>
                <td>Heading (HDT)</td>
                <td id="heading_hdt_current">-</td>
              </tr>
              <tr>
                <td>SOG</td>
                <td id="SOG_current">-</td>
              </tr>
              <tr>
                <td>SOLN</td>
                <td id="SOLN_current">-</td>
              </tr>
              <tr>
                <td>Depth</td>
                <td id="water_depth_current">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="vessel-info">
                <h5>Vessel Specifications</h5>
                <div class="table-container">
                    <table class="table table-sm">
                        <tbody>
                            <tr><td>Width</td><td id="width_m">-</td></tr>
                            <tr><td>Height</td><td id="height_m">-</td></tr>
                            <tr><td>Top Range</td><td id="top_range">-</td></tr>
                            <tr><td>Left Range</td><td id="left_range">-</td></tr>
                            <tr><td>Min Knot/Liter</td><td id="minimum_knot_per_liter_gasoline">-</td></tr>
                            <tr><td>Max Knot/Liter</td><td id="maximum_knot_per_liter_gasoline">-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div> -->

      {{if .permissions.canUseAdminTools}} {{template
      "vessel-detail.sidebar.history" .}} {{end}}
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const detailVessel = document.getElementById('detail-vessel');
    const sidebarCloseBtn = document.getElementById('sidebar-close');
    const lockCameraBtn = document.getElementById('lock-camera-btn');
  
    sidebarCloseBtn.addEventListener('click', function() {
      toggleVesselDetailSidebar();
    });

    lockCameraBtn.addEventListener('click', function() {
      toggleCameraLock(!isCameraLocked);
    });
  });
  </script>
{{end}} 
{{define "vessel-detail.sidebar.history"}}
<div style>
  <div class="vessel-info">
    <h5>Detail History</h5>
    <div class="table-container">
      <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="2" id="record_of_vessel">- of - Records</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Latitude</td>
            <td id="latitude_record">-</td>
          </tr>
          <tr>
            <td>Longitude</td>
            <td id="longitude_record">-</td>
          </tr>
          <tr>
            <td>Heading (HDT)</td>
            <td id="heading_hdt_record">-°</td>
          </tr>
          <tr>
            <td>SOG</td>
            <td id="SOG_record">-</td>
          </tr>
          <tr>
            <td>SOLN</td>
            <td id="SOLN_record">- KTS</td>
          </tr>
          <tr>
            <td>Depth</td>
            <td id="water_depth_record">- Meter</td>
          </tr>
          <tr>
            <td>DateTime</td>
            <td id="datetime_record">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h6>Total History Records: <span id="total_records">0</span></h6>
  <h6>Fetch Time: <span id="fetch_time">-</span></h6>

  <input
    type="range"
    id="progress-slider1"
    class="form-range"
    value="0"
    min="0"
    max="1212"
    step="1" />

  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#filterModal">
    <i class="fas fa-filter"></i> Filter
  </button>
  <button id="load-vessel-history" type="button" class="btn btn-secondary">
    <i class="fa-solid fa-rotate-right"></i> Reload
  </button>
  <button id="play-animation" type="button" class="btn btn-success">
    <i class="fas fa-play"></i> Play
  </button>
  <button id="history-download-csv" type="button" class="btn btn-info">
    <i class="fas fa-file-csv"></i> CSV
  </button>

  <div class="mt-3">
    <h6>Start From: <span id="filter_history_start">-</span></h6>
    <h6>End To: <span id="filter_history_end">-</span></h6>
  </div>
</div>


{{end}}
